<div class="content3">

<div class="container site-footer">
  <div class="row">
    <div class="col-lg-6">
        <div class="navbar-text pull-left social-links">
          <h1>Contact Me</h1>
          <h5 class="header-title">Michael J. Phillips</<h5>
            <a href="mailto:michael@formationtech.com"><h5 class="header-title" target="_blank">michael@formationtech.com</h5></a>
            <a href="tel:951-285-6043"><h4 class="header-title">951-285-6043</h5>
              <ul class="footer-channels">
                <li><a href="https://www.facebook.com/michael.j.phillips.14" target="_blank"><i class="fa fa-facebook-official fa-3x"></i></a></li>
                <li><a href="https://www.instagram.com/rawbee3d/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a></li>
                <li><a href="https://www.behance.net/rawbee3d" target="_blank"><i class="fa fa-behance fa-3x"></i></a></li>
                <li><a href="https://github.com/rawbee3d" target="_blank"><i class="fa fa-github fa-3x"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
              </ul>
        </div>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
</div>

</div>
