.nameplate h4 a {
  color: #fff;
  text-shadow: #444 0 1px 1px;
}

.nameplate h4 a:hover {
  color: #FF00D1;
  text-decoration: none;
}

.contact-button {
  margin-top: -30px;
}

.contact-button button {
  padding: 0 5px;
  color: #fff;
  text-shadow: #444 0 1px 1px;
  background: #47078F;
  border-radius: 3px;
  border-color: transparent;
}

.contact-button button:hover {
  background: #FF00D1;
}

.custom-modal {
 background: #47078F !important;
}

.custom-modal h4 {
 color: #fff;
 text-shadow: #444 0 1px 1px;
}

.modal-body ul li {
  list-style: none;
}

.modal-body ul li h4 {
  list-style: none;
  padding-right: 45px;
}

.modal-body ul li h3 {
  color: #fff;
  text-shadow: #444 0 1px 1px;
}

.modal-body ul li h3 a {
  color: #fff;
  text-shadow: #444 0 1px 1px;
}

.modal-body ul li h3 a:hover {
  color: #FF00D1;
  text-decoration: none;
}

.fa {
  color: #fff;
}

.fa:hover {
  color: #FF00D1;
}

.channels {
  align-content: center;
  padding: 15px 0;
}

.channels li {
  display: inline;
  padding: 0 12px;
}

.bg-home {
  background: #00E143;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
  -webkit-filter: blur(5px);
}

 .btn {
   background: #47078F;
 }

 .btn:hover {
   background: #6900E1;
 }

 .btn a:hover {
   text-decoration: none;
 }

.buttons {
  padding: 20px 0;
}

.section-break {
  padding: 100px;
}

.avatar {
  height: 250px;
  width: auto;
  margin-top: 30px;
}

.title-text {
  color: #fff;
  text-shadow: #444 0 1px 1px;
  padding-top: 100px;
  padding-bottom: 170px;
}

.title-text h1 {
  font-size: 5em;
  padding: 15px 0;
}

.title-text p {
  font-size: 1.5em;
  padding-bottom: 15px 0;
}

.section-title {
    font-size: 4em;
    color: #fff;
    text-shadow: #444 0 1px 1px;
    padding: 20px 0px;
  }

.section-heading {
  color: #fff;
  text-shadow: #444 0 1px 1px;
  padding: 30px 0px;
}

.header-title {
    color: #fff;
    text-shadow: #444 0 1px 1px;
    padding: 10px -5px;
}

.section-paragraph {
  color: #fff;
  text-shadow: #444 0 1px 1px;
}

.project-button{
  margin-top: 30px;
  color: #fff;
  text-shadow: #444 0 1px 1px;
  background: #47078F;
  border-radius: 3px;
  border-color: transparent;
}

.project-button:hover {
  background: #FF00D1;
}

.project-button h2 {
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.index-modal {
 background: #FF00D1 !important;
}

.index-modal h4 {
 color: #fff;
 text-shadow: #444 0 1px 1px;
}

.modal-heading a {
  color: #fff;
  text-shadow: #444 0 1px 1px;
}

.modal-heading a:hover {
  color: #00E143;
  text-decoration: none;
}



.site-footer {
  color: #fff;
  text-shadow: #444 0 1px 1px;
  padding-top: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.footer-channels{
  padding: 15px 0;
}

.footer-channels li {
  display: inline;
  padding: 0px 5px;
}

.copyright {
  color: #fff;
  text-shadow: #444 0 1px 1px;
  padding: 60px 0px;
}

.content1 {
  padding: 20px;
  background: #DB8100;
}

.slideshow {
  margin-top: 30px;
}

div.carousel-inner img{
    margin: 0 auto;
}

.content2 {
  padding: 20px;
  background: #5811A8;
}

.content3 {
  background: #8F5A0E;
}

.site-footer h4 a {
  color: #fff;
}

.site-footer h4 a:hover {
  color: #FF00D1;
  text-decoration: none;
}
