@font-face {
    font-family: 'gilroy-extrabold';
    src: url('/Fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('/Fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'acre-medium';
    src: url('/Fonts/acre-medium-webfont.woff2') format('woff2'),
         url('/Fonts/acre-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bg-1 {
  background: url(/img/BG1.svg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-2 {
  background: url(/img/BG2.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.bg-3 {
  background: url(/img/BG3.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.bg-4 {
  background: url(/img/BG4.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.navbar a , .navbar button {
  font-family: 'gilroy-extrabold';
  color: #fff;
  letter-spacing: 1px;
  font-size: 2em;
  text-shadow: #000 2px 2px 2px;
  -webkit-font-smoothing: antialiased;
}

.navbar a:hover , .navbar a:active  {
  font-family: 'gilroy-extrabold';
  color: #FF9283;
  letter-spacing: 1px;
  font-size: 2em;
  text-shadow: #000 2px 2px 2px;
  -webkit-font-smoothing: antialiased;
  background: transparent !important;
}

.logo {
  padding-top: 100px;
  max-height: 600px;
}

section h1 {
  font-family: 'gilroy-extrabold';
  color: #fff;
  letter-spacing: 1px;
  font-size: 4em;
}

section h2 {
  font-family: 'gilroy-extrabold';
  color: #fff;
  letter-spacing: 1px;
}

section h3 {
  font-family: 'gilroy-extrabold';
  color: #fff;
  letter-spacing: 1px;
  font-style: italic;
}

p {
  font-family: "acre-medium" ;
  color: #fff;
  font-size: 14pt;
}

.fill-space {
  padding: 60px;
}

section {
  background: #FF9283;
  padding: 40px 0;
}

footer {
  padding: 40px 0;
  text-align: center;
  background: #FF9283;
}

footer span {
  padding: 0px 10px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

footer h4 {
  font-family: 'gilroy-extrabold';
  color: #fff;
  letter-spacing: 1px;
}

.thumb-property {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  font-family: helvetica, arial;
  text-align: center;

  .logo-1 {
    height: 265px;
    width: 265px;
    background: url(/img/CPN.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo-1 {
      margin-left: 50px;
    }
  }

  .logo-2 {
    height: 265px;
    width: 265px;
    background: url(/img/CSIO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo-2 {
      margin-left: 50px;
    }
  }

  .logo-3 {
    height: 265px;
    width: 265px;
    background: url(/img/D.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo-3 {
      margin-left: 50px;
    }
  }

  .logo-4 {
    height: 265px;
    width: 265px;
    background: url(/img/FAO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo-4 {
      margin-left: 50px;
    }
  }

  .logo-5 {
    height: 265px;
    width: 265px;
    background: url(/img/FSMA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo-5 {
      margin-left: 50px;
    }
  }

  .logo-6 {
    height: 265px;
    width: 265px;
    background: url(/img/ILMM.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo-6 {
      margin-left: 50px;
    }
  }

  .logo-7 {
    height: 265px;
    width: 265px;
    background: url(/img/PRT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo-7 {
      margin-left: 50px;
    }
  }

  .logo-8 {
    height: 265px;
    width: 265px;
    background: url(/img/PTO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo-8 {
      margin-left: 50px;
    }
  }

  .logo-9 {
    height: 265px;
    width: 265px;
    background: url(/img/SP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo-9 {
      margin-left: 50px;
    }
  }

  .logo-10 {
    height: 265px;
    width: 265px;
    background: url(/img/TM.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo-10 {
      margin-left: 50px;
    }
  }

  .logo-11 {
    height: 265px;
    width: 265px;
    background: url(/img/WAP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo-11 {
      margin-left: 50px;
    }
  }

  .logo-12 {
    height: 265px;
    width: 265px;
    background: url(/img/CD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo-12 {
      margin-left: 50px;
    }
  }

    .web-1 {
      height: 265px;
      width: 265px;
      background: url(/img/CarePlus.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media only screen and (min-width : 320px) and (max-width : 480px) {
      .web-1 {
        margin-left: 50px;
      }
    }

    .web-2 {
      height: 265px;
      width: 265px;
      background: url(/img/CareDirec.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media only screen and (min-width : 320px) and (max-width : 480px) {
      .web-2 {
        margin-left: 50px;
      }
    }

    .web-3 {
      height: 265px;
      width: 265px;
      background: url(/img/FLO.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media only screen and (min-width : 320px) and (max-width : 480px) {
      .web-3 {
        margin-left: 50px;
      }
    }

    .web-4 {
      height: 265px;
      width: 265px;
      background: url(/img/PMG.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media only screen and (min-width : 320px) and (max-width : 480px) {
      .web-4 {
        margin-left: 50px;
      }
    }

  .overlay {
    position: absolute;
    height: 265px;
    width: 265px;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.2s ease;
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .overlay {
      margin-left: 50px;
    }
  }

  .info {
    padding-top: 70px;
    font-family: "gilroy-extrabold";
    color: #fff;
  }
  .title {
    margin-bottom: 50px;
  }
  .data-list {
    margin-bottom: 50px;
  }
  .price {
    font-size: 35px;
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
  }
}

.data-list {
  padding: 0px;
  margin: 0px;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 5%;
  }
  .ammount {
    font-size: 35px;
    font-weight: thin;
  }
  .type {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.connect a {
    background-color: #AF5FE5;
    font-size: 22pt;
    border-color: transparent;
}

.connect a:hover {
    background-color: #5DB4FF;
    border-color: transparent;
}

.modal-content {
  background: url(/img/modal-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.modal-content h1, .modal-content label {
  font-family: 'gilroy-extrabold';
  color: #fff;
  letter-spacing: 1px;
}
